.container {
  padding: 20px;
}

.card {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: lightblue; 
  transition: all 0.3s ease;
}
.card1 {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: lightblue; 
  transition: all 0.3s ease;
}

.card-img-top {
  border-radius: 10px;
  width: 50%;
  height: auto;
}


.card-body1 {
  padding-top: 1%;
  text-align:start;
  height: 30%;
}


.product-details {
  margin: 10px;
}

.product-details p {
  margin: 5px 0;
}

.form-control1 {
  width: 60px;
  margin-bottom: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.card-footer .btn {
  margin: 5px;
}

.col-lg-4, .col-lg-12 {
  padding: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-4 img
{
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the element and maintains aspect ratio */
}
